

<div class="landing pt-md-0 pt-4 section" #home>
    <div class="container h-100">
        <div class="row justify-content-between align-items-center h-100">
            <div class="content col-md-7 text-md-start text-center mb-md-0 mb-4  px-4 px-md-0">
                <h1 class="mb-3">Dr.Gamal ElKenany</h1>
                <p class="mb-3 mx-md-0 ">Chairman of ElKenany Group</p>
                <a (click)="setActive({ label: 'about', isActive: true ,offset:0})" class="d-inline-block px-4 py-2" style="cursor: pointer;" >Know more</a>
            </div>
            <div class="img col-md-5 h-100">
                <img class="d-block dr-image " src="../../../assets/images/dr.png" alt="">
                <!-- <img class="d-md-block d-none d-lg-none" src="assets/images/drgamal3.png" alt=""> -->
            </div>
        </div>
    </div>
</div>
<div class="about py-5 section" id="about">
    <div class="container">
        <div class="row justify-content-md-between "  >
            

            <div class="content col-md-6" #about>
                <h2 class="mb-3">About Gamal ElKenany</h2>
                <p class="text-black-50 fs-5" >
                    {{info.about?.about}}
            </div>

            <div class=" col-lg-5 col-md-5 mb-md-0 mb-4 ">

                    <div class="video my-5 my-xs-1 ">

                        <iframe id="youtubePlayer"  width="315" height="560" src="https://www.youtube.com/embed/BvzlsAHgJfU?loop=1&playlist=BvzlsAHgJfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"  allowfullscreen></iframe>   
                    </div>

            </div>
            
        </div>
    </div>
</div>
<div class="history pt-2 section" #history>
    <img class="bg" src="images/Group 692.png" alt="">
    <div class="container">
        <h1 class="text-center mb-3 fw-bold">Founder Of</h1>


        <div class="col-md-6 m-auto d-md-block d-none">
            <div class="img mb-3">
                <a target="_blank" [href]="info.founder_of[0].link"><img class="img-fluid" src="{{info.founder_of[0].logo_url}}" alt=""></a>
            </div>
            <p class="mb-3">
                {{info.founder_of[0].description}}
            </p>            
            <div class="img-1 mb-3">
                <img style="border-radius: 10px;" class="img-fluid" src="{{info.founder_of[0].image_url}}" alt="">

            </div>
        </div>


        <div class="content pb-4">
            <div class="row px-md-0 px-3 justify-content-between">


                <div class="left p-0 col-md-5 d-md-block d-none">
                    <!-- ////////////////////////////////////kenany -->
                    
                    <span class="d-block text-center py-2 mb-3">
                        <div class="img mb-3">
                            <a target="_blank" [href]="info.founder_of[2].link"><img class="img-fluid" [src]="info.founder_of[2].logo_url" alt=""></a>
                        </div>
                    </span>

                    <div class="img mb-3">
                        <img class="img-fluid" [src]="info.founder_of[2].image_url" alt="">
                    </div>

                    <p class="mb-3">
                       {{info.founder_of[2].description}}
                    </p>

                    <!-- ////////////////////////////////////gmt -->

                    
                    <span class="d-block text-center py-2 mb-3">
                        <div class="img mb-3">
                            <a target="_blank" [href]="info.founder_of[3].link"><img class="img-fluid" src="{{info.founder_of[3].logo_url}}"  alt=""></a>
                        </div>
                    </span>      
                    <div class="img mb-3">
                        <img class="img-fluid" src="{{info.founder_of[3].image_url}}" alt="">
                    </div>
                    <p class="mb-3">
                        {{info.founder_of[3].description}}
                    </p>

                    <!-- /////////////////////////////////////// -->


                </div>

                <div class="right p-0 col-md-5 mt-md-0 d-md-block d-none">

                    <!-- //////////////////////////////////////group -->
                    <span class="d-block text-center py-2 mb-3">
                        <div class="img mb-3">
                            <a target="_blank" [href]="info.founder_of[1].link"><img class="img-fluid" src="{{info.founder_of[1].logo_url}}" alt=""></a>
                        </div>
                    </span>
                    <div class="img mb-3">
                        <img class="img-fluid" src="{{info.founder_of[1].image_url}}" alt="">
                    </div>
                    <p class="mb-3">
                        {{info.founder_of[1].description}}
                    </p>

                    <!-- //////////////////////////////////////star -->



                    <!-- <span class="d-block text-center py-2 mb-3">{{info.founder_of[3].year}}</span> -->
                    <span class="d-block text-center py-2 mb-3">
                        <div class="img mb-3">
                            <a target="_blank" [href]="info.founder_of[4].link"><img class="img-fluid" src="{{info.founder_of[4].logo_url}}" alt=""></a>
                        </div>
                    </span>
                    <div class="img mb-3">
                        <img class="img-fluid" src="{{info.founder_of[4].image_url}}" alt="">
                    </div>
                    <p class="mb-md-3 mb-0">
                        {{info.founder_of[4].description}}
                    </p>

                    
                    <!-- /////////////////////////////////// -->
                </div>


                <div class=" p-0 col-md-5 d-md-none d-block">

                    <div *ngFor="let com of info.founder_of">

                        <span class="d-block text-center py-2 mb-3">
                            <div class="img mb-3">
                                <a target="_blank" [href]="com.link"><img class="img-fluid" [src]="com.logo_url" alt=""></a>
                            </div>
                        </span>
                        <div class="img mb-3">
                            <img class="img-fluid" [src]="com.image_url" alt="">
                        </div>
                        <p class="mb-3 ">
                            {{com.description}}
                        </p>

                        

                        <div class="line"></div>

                    </div>


                    <!-- <div class="img mb-3">
                        <img class="img-fluid" src="assets/images/history-elkenanygroup.jpg" alt="">
                    </div>
                    <span class="d-block text-center py-2 mb-3">2010</span>
                    <h3 class="mb-2 ">ElKenany For Feed Raw Materials Trading</h3>
                    <p class="mb-3 ">
                    
                        When DR. Gamal ElKenany founded Elkenany Group in 2010, the main goal was to be the first choice as an Importer & Distributor for Commodities with high quality in the market also it is the holding company acts as umbrella where other companies fall under it.
                    </p>

                    <div class="line"></div>

                    <div class="img mb-3">
                        <img class="img-fluid" src="assets/images/history-app.jpg" alt="">
                    </div>
                    <span class="d-block text-center py-2 mb-3">2018</span>
                    <h3 class="mb-2 ">Elkenany APP</h3>
                    <p class="mb-3 ">
                       
                        The second step DR. Gamal ElKenany have taken is provide  Elkenany Application to the market, the first and most significant Integrated service application in Egypt & The Middle East provides many digital services as: 
                        Stock Market - Companies Guide - Tenders - Ship Movement - News - The Market - Exhibitions - Magazine.
                    </p>



                    <div class="line"></div>



                <div class="img mb-3">
                    <img class="img-fluid" src="assets/images/history-gmt.jpg" alt="">
                </div>
                <span class="d-block text-center py-2 mb-3">2020</span> 
                <h3 class="mb-2">GMT Advertising Agency</h3>
                <p class="mb-3 ">
                   
                    After that DR. Gamal ElKenany pursue to Create an independent advertising agency in Egypt to serve Egypt & The Middle East market, providing the service through high level of capabilities & skills, combined with creativity to become an incredibly powerful services that make a difference to our client’s business and their consumers.
                </p>

                <div class="line"></div>
                
                <div class="img mb-3">
                        <img class="img-fluid" src="assets/images/history-starlight.jpg" alt="">
                </div>
                    <span class="d-block text-center py-2 mb-3">2023</span>
                    <h3 class="mb-2 ">STARLIGHT INTERNATIONAL TRADING COMPANY L.L.C</h3>
                    <p class="mb-md-3 mb-0 ">
                        The last but not least established STARLIGHT INTERNATIONAL TRADING COMPANY L.L.C startup company in Dubai in 2023, for Consistent efforts towards “Importing & exporting and general trading” to be one of the Important mena market leaders in the trading field & around the world.
                </p>

                 -->
            </div>
            </div>
        </div>
    </div>
</div>

<div class="business py-5 section" >
    <div class="container">

        <div class="gridy1 mb-4">

            <div class="g-item ">
                <div class="img">
                    <a [href]="info.images.main_company.link" target="_blank"><img class="img-fluid" [src]="info.images.main_company.image_url" alt=""></a>
                </div>
            </div>
        </div>
        <div class="gridy">

            <div class="g-item" *ngFor="let sub of info.images.sub_company">
                <div class="img">
                    <a [href]="sub.link" target="_blank"><img class="img-fluid" [src]="sub.image_url" alt=""></a>
                </div>
            </div>
            <!-- <div class="g-item">
                <div class="img">
                    <img class="img-fluid" src="assets/images/GMT.png" alt="">
                </div>
            </div>
            <div class="g-item">
                <div class="img">
                    <img class="img-fluid" src="assets/images/Untitled-4.png" alt="">
                </div>
            </div> -->
        </div>
    </div>
</div>


