<div class="header sticky-top d-none d-md-block">
    <div class="container d-flex justify-content-between">
        <div class="img py-2 home-r" routerLink="/">
            <img src="assets/images/drlogo2.png" alt="">
        </div>
        <ul class="list-unstyled d-flex gx-3 m-0">
            <li *ngFor="let item of navigationItems1" [class.active]="item.isActive" (click)="setActive(item)" >
              {{ item.label }}
            </li>
        </ul>

    </div>
</div>
<div class="header-2 sticky-top d-block d-md-none "  >
    <div class="container d-flex justify-content-between align-items-center px-4">
        <div class="img py-2">
            <img src="assets/images/drlogo2.png" alt="">
        </div>
        <div class="menu-icon d-flex flex-column justify-content-center align-items-end" (click)="toggleHeader()" >
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="dpn d-flex justify-content-around" >
        <div class="img py-2">
            <img src="assets/images/drlogo2.png" alt="">
        </div>
        <ul class="list-unstyled m-0">
            <li *ngFor="let item of navigationItems2" [class.active]="item.isActive" (click)="setActive(item)" >
              {{ item.label }}
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>



<div class="footer contact py-5 section" #contact>
    <div class="container">
        <div class="gridy">
            <div class="g-item">
                <div class="img d-flex justify-content-center">
                    <img src="assets/images/drlogo2.png" alt="">
                </div>
                
                <div class="d-flex fs-5 fw-bold pt-2">
                    Follow Me:
                    <div class="links ms-3">
                        <a class="me-3" href="https://www.facebook.com/Gamal.Elkenany/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                        <a class="me-3" href="https://www.instagram.com/dr.gamal_elkenany/?fbclid=IwAR2VhMvSDnFG0pbJvcU2Q0bL9nteCz2_wl8HbdCptewjHQNIwvKpaFTTopQ" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a class="me-3" href="https://twitter.com/GamalElkenany?fbclid=IwAR0E20FLNBQmEOB7ly7PNDinbSo6fyY5e0SHRKNYFViCrfGBXTJq2ifNDbc" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/Dr.%20Gamal%20ElKenany?fbclid=IwAR1Jzx6TPAOqFLNUR8eC8F6pMBfBYR5wq3zJdU4VPdQx79b2IfQVqpCgIe0" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
                <p class="my-3">© 2023 by Gamal El-Kenany. All rights reserved.</p>
            </div>
            <div class="g-item">
                <h3 class="mb-3">For Contact</h3>
                <p><a class="mail" href="mailto:Business@elkenany.com">Email: dr.gamal@elkenanygroup.com</a></p>
            </div>
            <div class="g-item">
                <h3 class="mb-3">Get In Touch</h3>
                <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
                    
                    <div class="inputs d-flex mb-3">
                        <input class="w-50 p-2" type="text" placeholder="Your Name" formControlName="name">
                        <input class="w-50 p-2" type="text" placeholder="Your Email" formControlName="email">
                    </div>
                    <input type="text" class="w-100 p-2 mb-3" placeholder="Your Message" formControlName="message">
                    <input class="submit py-2 px-4 me-1" type="submit" value="Send Message">

                    <p style="display: contents; ">{{message}}</p>

                    
                </form>
            </div>
        </div>
    </div>
</div>
<div class="copyrights py-3">
    <p class="text-center text-black-50 m-0">© 2023 by Gamal El-Kenany. All rights reserved.</p>
</div>
