<div class="body">

    <div class="container">
    
        <!-- Image and name container. Change to your pictue here. -->
        <div style="text-align: center">
          <img src="assets\images\dr.png" class="w3-margin mt-2" alt="image"  style="border-radius: 50%;">
          <h4 style="font-weight: bold;">Dr.Gamal Elkenany</h4>
          <p style="color:white;">Chairman of the Board at Elkenany Group for Industry & Investment</p>
        </div>
    
        <!-- Links section 1. Replace the # inside of the "" with your links. -->
        <h5 class="margin-top-2" >Company profile</h5>
        <div class="links-container">
    
        </div>
    
        <div class="form__container">
                       
    
        <div class="small__bar__container " >
          <a href="https://pdfs-of-qr-codes.s3.amazonaws.com/52450d8e2eee3ae0cd0eacb2739623d2.pdf" class="single__action " target="_blank">       <div ></div><span>Company profile - EN</span><img class="icons" src="assets\images\english.png" alt="">
          </a>
          <a href="https://pdfs-of-qr-codes.s3.amazonaws.com/c322dba5113dcdd85a696f6a39ad652e.pdf" class="single__action" target="_blank">        <div ></div><span>Company profile - AR</span><img class="icons" src="assets\images\arabic.png" alt="">
          </a>
    
          <h5 class="margin-top-2" >Elkenany Group</h5>
          <a href="https://elkenanygroup.com/" class="single__action" target="_blank">        <div ></div><span>Elkenany Group - Website</span><img class="icons1"  src="assets\images\elkenanytm (3).png" alt="">
          </a>
          <a href="https://www.facebook.com/elkenanygroup" class="single__action" target="_blank">        <div ></div><span>Elkenany Group</span><img class="icons p-2" src="assets\images\face.png" alt="">
          </a>
    
    
          <h5 class="margin-top-2" >Elkenany</h5>
           <a href="https://elkenany.com/" class="single__action" target="_blank">        <div ></div><span>Elkenany - Website</span><img class="icons" src="assets\images\lk1 (3).png" alt="">
          </a>
              <a href="https://www.facebook.com/elkenanyapp" class="single__action" target="_blank">        <div ></div><span>Elkenany </span><img class="icons p-2" src="assets\images\face.png" alt="">
          </a>  
    
    
          <h5 class="margin-top-2" >Application</h5>
          <a href="https://apps.apple.com/eg/app/%D8%A7%D9%84%D9%83%D9%86%D8%A7%D9%86%D9%8A/id1608815820?fbclid=IwAR0fkJp_oOIrbMUuwJWXgotqWz8GS2GRgJ2cqUmWrgFe9A6UZOYZn47d15M" class="single__action" target="_blank">        <div ></div><span>Elkenany - IOS</span><img class="icons" src="assets\images\apple.png" alt="">
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.elkenany" class="single__action" target="_blank">        <div ></div><span>Elkenany - Android</span><img class="icons" src="assets\images\play.png" alt="">
          </a>
        </div>  
        
        <!-- Bottom section 3 -->
        <div class="bottom mt-2 ">  
            
            <a href="https://twitter.com/GamalElkenany"  target="_blank"><img class="icons m-1" src="assets\images\twitter1.png" alt=""></a>
    
            <a href="https://www.linkedin.com/in/dr-gamal-elkenany-5b391773"  target="_blank"><img class="icons m-1" src="assets\images\linked.png" alt=""></a>  
            <a href="https://www.instagram.com/dr.gamal_elkenany/"  target="_blank"><img class="icons m-1" src="assets\images\insta (2).png" alt=""></a>
    
            <a href="https://www.facebook.com/Gamal.Elkenany"  target="_blank"><img class="icons p-1 m-1" src="assets\images\face3.png" alt=""></a>
    
        </div>
    </div>
    
    </div>
    </div>